body {
    background-color: #054A91;
    font-family: lato;
    margin:0px;
    padding:0px;
    font-size:14px;
    color:#595959;
  }

.panel{       
  position:absolute;
  background-color:white;
  width:340px;
  height:100%;
  float:left;
  padding:20px;
  padding-top:0px;
  padding-bottom:0px;
  
}



.panel h1{font-family:roboto;
         font-size:28px;
         font-weight:normal;
         text-align:center;
         color:#000;
}

.panel h2{font-family:roboto;
          font-weight:normal;
          font-size:15px;
          text-align:center;
          margin-top:-5px;
}

.details{
        margin-top:20px;
}

.item{      height:25px;
             line-height:25px;
}

.score_item{max-width:180px;
            font-size:22px;
            height:40px;
            line-height:40px;
            text-align:center;
            margin:0px auto;
          border-radius:5px;
          border:1px solid rgba(210,210,210,0.55);
          font-family:roboto;

  }

.score_item .item_head{
      width:80px;
      font-size:20px;
}

.score_item .item_value{
      margin-left:80px;
}

.item_head{float:left;
             width:90px;
             font-size:16px;
}

.item_value{font-size:14px;
        color:#7F7F7F;
        margin-left:95px;
}



.instructions{padding-top:25px;
              padding-bottom:5px;
              margin-top:40px;
              /*border-top:1px solid #B7B7B7;*/
              
}

.instructions b{color:#000;}

.controls{
          margin-top:5px;
         -webkit-column-count: 2; /* Chrome, Safari, Opera */
          -moz-column-count: 2; /* Firefox */
          column-count: 2;}

/****
Game Display
*****/

.next{font-weight:normal;
    font-size:16px;
    line-height:18px;
    margin:0px auto;
    font-weight:bold;
    text-align:center;
    max-width:60px;
    color:#01274C;
    padding-top:15px;
}

.next_display{
          margin:0px auto;
          margin-top:5px;
          padding:15px;
          padding-top:10px;
          padding-bottom:10px;
          border-radius:5px;
          border:1px solid #01274C;
          font-size:20px;
          max-width:60px;
          min-height:60px;
}

.game_area{
  font-family: Inconsolata, Courier, monospace;
  font-size: 22px;
  margin:0px auto;
  margin-top:25px;
  width:231px;
  height:465px;
  color:#01274C;
  border-radius:0px;
  background-color:#011B35;
}

